{% load i18n base_tags %}

<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--article date-->
<p class="article-date">{{ post.published_at|date }}</p>

<!--article tags-->
<p class="article-tags">
  {% with category=post.category %}
  {% trans 'Category: ' %}
  <a href="#" class="filter" data-filter="{{ category.slug }}">{{ category.title }}</a>
  {% endwith %}
  <br>
  {% if post.tags.all %}{% trans 'Tags: ' %}{% endif %}
  {% for tag in post.tags.all %}
  <a href="#" class="filter" data-filter="{{ tag.slug }}">{{ tag.name }}</a>
  {% if not forloop.last %} ,{% endif %}
  {% endfor %}
</p>

<!--article content-->
<div class="article-description">
  {{ post.content }}
</div>

<!--navigation-->
{% with previous=post.previous next=post.next %}
<ul class="pager">

  {% if next %}
  <li class="previous">
    <a href="{{ next.get_absolute_url }}" title="{{ next.title }}">
  {% else %}
  <li class="previous disabled">
    <a href="#">
  {% endif %}
      &lt; {% trans 'Next' %}
    </a>
  </li>

  {% if previous %}
  <li class="next">
    <a href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">
  {% else %}
  <li class="next disabled">
    <a href="#">
  {% endif %}
      {% trans 'Prev' %} &gt;
    </a>
  </li>

</ul>
{% endwith %}
<hr>

{% disqus post.pk %}
