{% extends 'base/includes/sidebar.html' %}

{% load i18n %}

{% block sidebar_filter %}
<a href="#" class="filter active" data-filter="all">{% trans 'All' %}</a>
{% for category in categories %}
  <a href="#" class="filter" data-filter="{{ category.slug }}">{{ category.title }}</a>
{% endfor %}
{% for tag in tags %}
  <a href="#" class="filter" data-filter="{{ tag.slug }}">{{ tag.name }}</a>
{% endfor %}
{% endblock %}

{% block sidebar_items %}
<section id="Grid" class="sidebar-grid">
  <a href="#" class="btn btn-default btn-lg btn-block load-more"
      style="display: none;" data-action="after" data-method="prepend"
      data-anchor="0" data-direction="">
    <span class="text">{% trans 'Load more' %}</span>
  </a>
  <section class="blog"></section>
  <a href="#" class="btn btn-default btn-lg btn-block load-more"
      style="display: none;" data-action="before" data-method="append"
      data-anchor="0" data-direction="-">
    <span class="text">{% trans 'Load more' %}</span>
  </a>
</section>
{% endblock %}
