.item-choice {
    height: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}
.row.bottom .col-right .item-choice .filter {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}
.blog a {
    color: #333;
}
.row.bottom .col-right section .media {
    padding: 20px;
}
.blog a:hover {
    color: #428bca;
    text-decoration: none;
}
