.item-choice {
    overflow: hidden;
    margin-bottom: 10px;
}
.row.bottom .col-right .item-choice .filter {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}
.blog .media-heading {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.blog a {
    color: #333;
}
.blog a:hover {
    text-decoration: none;
}
.row.bottom .col-right section .media {
    padding: 20px;
}
.sidebar-grid {
    padding-top: 0;
}
