{% extends 'base/base.html' %}

{% load i18n staticfiles compress base_tags blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
{% stylesheets header post %}
<link href="{% static 'blog/css/post.css' %}"
    charset="utf-8" media="screen" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'blog/css/sidebar.css' %}"
    charset="utf-8" media="screen" rel="stylesheet" type="text/css">
{% endblock %}

{% block extra_header %}
{{ block.super }}
<link rel="alternate" type="application/atom+xml" href="{% url 'blog:posts_atom1' %}"
    title="{% trans 'Smaller Things from an Insignificant One' %}">
<link rel="alternate" type="application/rss+xml" href="{% url 'blog:posts_rss201rev2' %}"
    title="{% trans 'Smaller Things from an Insignificant One' %}">
{% endblock %}

{% block sidebar_title %}{% trans 'Blog Posts' %}{% endblock %}

{% block sidebar_content %}
{% compress js %}
<script>
var postListUrl = '{% url "api_dispatch_list" resource_name="blog/post" api_name="v1" %}';
var currentPostId = '{{ post.id }}';
</script>
{% endcompress %}
<script type="text/template" id="sidebar_cell_template">
{% include 'blog/includes/sidebar_post_tmpl.html' %}
</script>
{% blog_sidebar %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% javascripts footer post %}
<script src="{% static 'blog/js/sidebar.js' %}"></script>
{% endblock %}
