{% extends 'base/base.html' %}

{% load i18n static %}

{% block title %}{{ post.title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blog/css/sidebar.css' %}" media="screen">
{% endblock %}


{% block content_main %}

<h1>{{ post.title }}</h1>
<h1 class="spacer">___</h1>

<!--article date-->
<p class="article-date">{{ post.published_at|date }}</p>

<!--article tags-->
<p class="article-tags">
  {% for tag in post.tags.all %}
  <a href="#">{{ tag.name }}</a>
  {% if not forloop.last %} ,{% endif %}
  {% endfor %}
</p>

<!--article content-->
<div class="article-description">
  {{ post.content }}
</div>

<!--navigation-->
{% with previous=post.previous next=post.next %}
<ul class="pager">
  <li class="previous{% if not previous %} disabled{% endif %}">
    <a href="{% if previous %}{{ previous.get_absolute_url }}{% else %}#{% endif %}">
      &lt; {% trans 'Prev' %}
    </a>
  </li>
  <li class="next{% if not next %} disabled{% endif %}">
    <a href="{% if next %}{{ next.get_absolute_url }}{% else %}#{% endif %}">
      {% trans 'Next' %} &gt;
    </a>
  </li>
</ul>
{% endwith %}
<hr>

{% endblock %}

{% block sidebar_title %}{% trans 'Blog Posts' %}{% endblock %}

{% block sidebar_content %}
<script>
var postListUrl = '{% url "api_dispatch_list" resource_name="blog/post" api_name="v1" %}';
var currentPostId = '{{ post.id }}';
</script>
<script type="text/template" id="sidebar_cell_template">
{% include 'blog/includes/sidebar_post_tmpl.html' %}
</script>
{% include 'blog/includes/sidebar.html' %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'blog/js/sidebar.js' %}"></script>
{% endblock %}
