{% extends 'pages/page.html' %}

{% load i18n static %}

{% block extra_css %}
{{ block.super }}
<link href="{% static 'pages/css/index.css' %}" rel="stylesheet" media="screen">
{% endblock %}

{% block content_image %}
{{ block.super }}
<div class="text-center image-caption">
  {% blocktrans %}
  <strong>Uranus</strong>, taken in 1986 during the NASA/JPL/<em>Voyager 2</em> mission.
  {% endblocktrans %}
</div>
{% endblock %}


{% block sidebar %}
<section>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default item standalone">
        <div class="panel-body">
          <h4 class="item-title">{% trans 'Find me on' %}</h4>
          <hr>
          <div class="item-social text-center">
            <a href="https://twitter.com/uranusjr" target="_blank">
              <img class="social" alt="Twitter"
                src="{% static 'base/img/icon/icon-twitter.png' %}">
            </a>
            <a href="https://www.facebook.com/uranusjr" target="_blank">
              <img class="social" alt="Facebook"
                src="{% static 'base/img/icon/icon-facebook.png' %}">
            </a>
            <a href="https://github.com/uranusjr" target="_blank">
              <img class="social" alt="GitHub"
                src="{% static 'base/img/icon/icon-github.png' %}">
            </a>
            <a href="http://www.linkedin.com/profile/view?id=240657995" target="_blank">
              <img class="social" alt="Linkedin"
                src="{% static 'base/img/icon/icon-linkedin.png' %}">
            </a>
          </div>
        </div>
        <div class="spacer"></div>
        <div class="panel-body">
          <h4 class="item-title">{% trans 'or just write to' %}</h4>
          <hr>
          <div class="text-center">
            <p><a href="mailto:uranusjr@gmail.com">uranusjr@gmail.com</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="row" id="Grid">
  {% for page in page.children.public %}
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-6">
    <div class="panel panel-default item">
      <div class="panel-heading">
        <a href="{{ page.get_absolute_url }}">
          <img class="img-responsive item-img" alt="{{ page.title }}"
            src="{% static 'base/img/work/projet-example-1.png' %}">
        </a>
      </div>
      <div class="panel-body">
        <a href="{{ page.get_absolute_url }}">
          <h4 class="item-title">{{ page.title }}</h4>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
