{% extends 'base/base.html' %}

{% load base_tags pages_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_css %}
{{ block.super }}
{% stylesheets header page %}
{% endblock %}

{% block content_main %}

<div class="row text-center">
  <div class="col-lg-12">

    {% block content_image %}
    {% if page.image %}
      <img class="img-responsive" src="{{ page.image.url }}" alt="{{ page.title }}">
      {% if page.image_caption %}
      <div class="text-center image-caption">{{ page.image_caption|safe }}</div>
      {% endif %}
    {% endif %}
    {% endblock %}

    {% block content_title %}
    <h1>{{ page.short_description }}</h1>
    <h1 class="spacer">____</h1>
    {% endblock %}

    {% block content_detail %}
    <div class="text-justify">{{ page.content }}</div>
    {% endblock %}

  </div>
</div>

{% endblock %}

{% block sidebar_content %}
{% sidebar page %}
{% endblock %}

{% block extra_js %}
{{ block.super }}
{% javascripts footer page %}
{% endblock %}
