{% load staticfiles compress %}

<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8">
<title>{% block title %}{{ title }}{% endblock %}</title>
<link rel="icon" type="image/png" href="{% static 'base/img/favicon.png' %}">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta propery="og-image"
    content="{% block og_image %}{% static 'base/img/uranus.png' %}{% endblock %}">

{% compress css %}
<link href="{% static '3rdparty/bootstrap/css/bootstrap.min.css' %}"
    charset="utf-8" media="screen" rel="stylesheet" type="text/css">
{% block extra_css %}{% endblock %}
{% endcompress %}

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{% static '3rdparty/bootstrap/js/respond.min.js' %}"></script>
  <script src="{% static '3rdparty/bootstrap/js/html5shiv.js' %}"></script>
<![endif]-->

{% block extra_header %}
{% endblock %}

</head>

<body class="page-index">

{% block body %}{% endblock %}

<script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
{% compress js %}
<script src="{% static '3rdparty/underscore/js/underscore.js' %}"></script>
<script src="{% static JQUERY_URL %}"></script>
<script src="{% static '3rdparty/fastclick/js/fastclick.js' %}"></script>
<script src="{% static '3rdparty/smooth-scroll/js/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static '3rdparty/mixitup/js/jquery.mixitup.min.js' %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

{% block extra_footer %}{% endblock %}

</body>

</html>
